.git
.gitignore
.github
.idea
.vscode
.DS_Store
.aider*
.env
.env.sample
*.md
*.pyc
__pycache__
*.sqlite3
db.sqlite3
node_modules
staticfiles
.venv
venv*
imgs
deploy*.sh
docker-compose.yml
rss-*.json
django-data.json
