.idea
node_modules
__pycache__
venv3
venv36
venv37
.venv
*.pyc
*.sqlite3
.DS_Store
private
*/prod_settings.py
# settings.py
my_dev_settings.py
*.rdb
.htpasswd
TODO.md
jobs.yolo-india.com
.aider*
.env
